@font-face {
  font-family: 'DM Sans';
  font-weight: 100 900;
  src: url('../fonts/DMSans.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Allerta Stencil';
  font-weight: 400;
  src: url('../fonts/AllertaStencil.woff2') format('woff2');
  font-display: swap;
}
