// Шрифты
$textFontFamily: 'DM Sans', sans-serif;
$logoFontFamily: 'Allerta Stencil', sans-serif;

// Цвета
$primary-color: #000000;
$accent-color: #A18A68;
$main-text-color: #707070;

//breakpoints
$breakpoints-xxl: 1440px;