@use '~/assets/scss/fonts' as *;
@use '~/assets/scss/variables' as *;

:root {
  --vc-clr-primary: #707070 !important;
  --vc-clr-secondary: #707070 !important;
}

.app-container {
  box-sizing: border-box;
  /* Мобильная версия*/
  width: 100%;
  padding: 16px;
  margin: 0 auto;
  font-family: $textFontFamily;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  /* Десктопная версия */
  @media (min-width: $breakpoints-mobile) {
    max-width: 1440px;
    padding: 64px 96px 121px;
  }
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: $textFontFamily;
}
