@use "~/assets/scss/fonts" as *;
@use "~/assets/scss/variables" as *;

.app-container {
  /* Мобильная версия*/
  width: 100%;
  padding: 15px 16px 26px;
  margin: 0 auto;
  box-sizing: border-box;

  /* Десктопная версия */
  @media (min-width: $breakpoints-mobile) {
    max-width: 1440px;
    padding: 64px 96px 121px;
  }
}

a {
  text-decoration: none;
}

body {
  font-family: $textFontFamily;
}
